<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <!--<meta http-equiv="Content-Type" content="multipart/form-data; charset=utf-8" />-->
    <title>Title</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
</head>
<body>
<div class="container" style="text-align: center">
    <div class="jumbotron row" style="text-align: center">
        <h1 th:text="${session.userInfo ne null} ? '欢迎你,'+${session.userInfo.name} : 'Inspiration'" ></h1>
        <h2 th:text="'SpringBoot UploadFile Example'"></h2>
        <div class="form-group col-md-offset-4 col-md-4 " style="border-color: black">
            <label for="UserProfilePicture">上传头像</label>
            <input type="file" accept="image/*" id = "UserProfilePicture">
            <p class="help-block">请选择您要上传的头像</p>
            <input type="button" class="btn btn-default col-md-offset-4 col-md-4" value="提交" onclick="uploadUserImage()">
        </div>
    </div>
</div>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var userInfo = /*[[${session.userInfo}]]*/ null;
    if(userInfo == null){
        alert("请先登录");
        window.location.href = "login"
    }else{
        console.log(userInfo)
    }
    function uploadUserImage() {
        formData = new FormData();
        formData.append("UPP", $("#UserProfilePicture")[0].files[0]);
        $.ajax({
            type:"POST",
            url:"/user/upload",
            contentType:false,
            cache:false,
            data:formData,
            enctype:"multipart/form-data",
            processData:false,
            success:function (result) {
                console.log(result)
            }
        })
    }
    /*]]>*/
</script>
</body>
</html>