<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<p id="userName">null
</p>
<script src="/js/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">
    /*<![CDATA[*/
    var userInfo = /*[[${session.userInfo}]]*/ null;
    if(userInfo == null){
        alert("请先登录")
        window.location.href = "login"
    }else{
        console.log(userInfo)
        $("#userName").text(userInfo.name)

    }
    /*]]>*/
</script>
</body>
</html>